.todo {
    display: grid;
    border-bottom: 1px solid red;
    margin-bottom: 2rem;
}
.form {

}
.input {
    width: 100;
    font-size: 1rem;
    padding: 0.5rem;
}
.list {

}
.task {
    display: grid;
    align-items: center;
    grid-template-columns:  1fr 100px;
    grid-template-areas: "text actions";
}
.text {
    grid-area: text;
    margin: 0;
}
.actions {
    grid-area: actions;
}
.btn {

}

.empty {
    padding: 1rem;
    font-size: 1rem;
    border: 2px dotted red;
    text-align: center;
}